#herobanner {
    margin: auto;
    width: 100%;
    position: relative;
}

.typewrite {
    font-size: 30px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#praise {
    margin: auto;
    text-align: center;
}

ptext {
    font-size: 15px;
    font-style: italic;
    
}

#heroText {
    padding: 15px;
    margin: auto;
    text-align: center;
}




.responsive {
    width: 100%;
    height: auto;
}

#expl {
    justify-content: center;
    width: 400px;
    height: 160px;
    background-color: indianred;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
}
